astroid==2.2.5
autopep8==1.4.4
boto3==1.9.174
botocore==1.12.174
certifi==2019.6.16
chardet==3.0.4
docutils==0.14
idna==2.8
isort==4.3.20
jmespath==0.9.4
lazy-object-proxy==1.4.1
mccabe==0.6.1
mongomock==3.17.0
Naked==0.1.31
pep8==1.7.1
pycodestyle==2.5.0
pycrypto==2.6.1
pylint==2.3.1
pymongo==3.4.0
python-dateutil==2.8.0
PyYAML==5.4
redis==3.2.1
requests==2.22.0
s3transfer==0.2.1
sentinels==1.0.0
shellescape==3.4.1
six==1.12.0
typed-ast==1.4.0
urllib3==1.26.5
wrapt==1.11.2
